{% extends "base.html" %}
  <body>
    {% block content %}
    <div id="index_body">
      <div id="index_text_block">
        <h1 style="margin-left: 2rem; margin-top:2rem; font-size:3rem;"> Marvin ChatBot </h1>
        <p style="margin: 1.5rem 1rem 0 1rem; font-size:2rem;"> This chatbot is based on the character "Marvin the Paranoid Android" from "The Hitchhiker's Guide to the Galaxy" books, radio programme, tv series, and film.</p>
        <p style="margin: 1.5rem 1rem 0 1rem; font-size:2rem;"> I've chosen to illustrate his appearance based on the film, as I think Alan Rickman's portrayal of Marvin was a brilliant characterization.</p>
      </div>
      <img src="../static/images/marvin_paint.png" alt="Marvin" id="Marvinimg">
    </div>
    {% endblock %} 
  </body>
</html>